/* CSS Document */
*{
	font-family: algerian;
	font-size:15px;
	color:orange;
	
}
a{
	color:red;
}
body{
	width:400px;
	margin:auto;
	background-color: cyan;
}
input[ type= submit]{
        background-color: yellow; 
        color : red; 
        padding : .5em 1em ; 
        border: 5; 
        border-radius: 8px; 
        cursor: pointer ;
}
label{
	        background-color: lawngreen; 
        color : blue; 	
}
select{
		        background-color: BLUE; 
        color : GRAY; 
}